

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center font-weight-bold text-uppercase mt-5">{{ county }}</h1>
      </div>
    </div>

    <div class="row">
      <!-- 2 4 column divs, the second offset by 4 -->
      <div class="col-md-4 my-5 col-sm">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Total Cases</h5>
            <p class="card-text">{{ totalCases | number:'1.0':'en-US'}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4  my-5 col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Hospitalizations Today</h5>
            <p class="card-text">{{ newHosp | number:'1.0':'en-US'  }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 my-5 col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Deaths Today</h5>
            <p class="card-text">{{ totalDeaths  }}</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4 my-5 col-sm">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Deaths % Change from Yesterday</h5>
            <p class="card-text">Coming Soon...</p>
          </div>
        </div>

      </div>

      <div class="col-md-4 my-5 col-sm">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Case % Change From Yesterday</h5>
            <p class="card-text">Coming Soon...</p>
          </div>
        </div>


      </div>

      <div class="col-md-4 my-5 col-sm">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Deaths % Change From Yesterday</h5>
            <p class="card-text">Coming Soon...</p>
          </div>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-sm my-5">
        <app-covid-hospitalizations-dash></app-covid-hospitalizations-dash>
      </div>
    </div>


  </div>
