

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center font-weight-bold text-uppercase mt-5">{{ county }}</h1>
      </div>
    </div>

    <div class="row">
      <!-- 2 4 column divs, the second offset by 4 -->
      <div class="col-md-4 my-5 col-sm">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Total Cases</h5>
            <p class="card-text text-center">{{ totalCases | number:'1.0':'en-US'}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4  my-5 col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Hospitalizations Today</h5>
            <p class="card-text text-center">{{ newHosp | number:'1.0':'en-US'  }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 my-5 col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Total Deaths</h5>
            <p class="card-text text-center">{{ totalDeaths  }}</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4 my-5 col-sm">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Case % Change from Yesterday</h5>
            <p class="card-text text-center">{{ casesPercentage | number }}%</p>
          </div>
        </div>

      </div>

      <div class="col-md-4 my-5 col-sm">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Hospitalization % Change From Yesterday</h5>
            <p class="card-text text-center">{{ hospitalizationPercentage | number }}%</p>
          </div>
        </div>


      </div>

      <div class="col-md-4 my-5 col-sm">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Deaths % Change From Yesterday</h5>
            <p class="card-text text-center">{{ deathPercentage | number }}%</p>
          </div>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-sm my-5">
        <app-covid-hospitalizations-dash></app-covid-hospitalizations-dash>
      </div>
    </div>

    <div class="row">
      <div class="col-sm my-5">
        <app-covid-deaths-dash></app-covid-deaths-dash>
      </div>
    </div>

    <div class="row">
      <div class="col-sm my-5">

      </div>
    </div>

  </div>
