<app-showcase>
  <header>
    {{ (mainStoryTitle.length > 70) ? (mainStoryTitle | slice:0:70)+'...':(mainStoryTitle) }}
  </header>
    <p class="lead">{{ mainStorySubTitle }}</p>
    <a [href]="mainStoryLink" target="_blank" class="btn btn-outline-secondary btn-lg text-white">
      Read More
   </a>
  <img src="../../assets/img/Pols.png" alt="" class="img-fluid d-none d-lg-block">
</app-showcase>

<app-showcard [story]="otherNews[1]">

</app-showcard>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-president-card></app-president-card>
    </div>
    <div class="col-sm">
     <app-election-card></app-election-card>
    </div>
    <div class="col-sm">
      <app-table></app-table>
     </div>
  </div>
</div>



  <!-- <app-polls-table [polls]="pollsNational"></app-polls-table> -->

