<div class="table-responsive-sm mt-5 mb-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Democratic Candidate</th>
        <th scope="col">Republican Candidate</th>
        <th scope="col">Dem Candidate %</th>
        <th scope="col">Rep Candidate %</th>
        <th scope="col">Poll Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let poll of polls; let i = index">
        <th scope="row">{{ i + 1}}</th>
        <td>{{ poll.demCandidateName }}</td>
        <td>{{ poll.repCandidateName }}</td>
        <td>{{ poll.dPct }}</td>
        <td>{{ poll.rPct }}</td>
        <td>{{ poll.endDate | date:'shortDate' }}</td>
      </tr>
    </tbody>
  </table>
</div>
