<app-showcase>
  <header>
    How to track your stimulus check now with the IRS Get My Payment app
  </header>
    <p class="lead">If you're still looking for your stimulus payment, we'll explain how to use the IRS tracking app to check its schedule status.</p>
    <a href="https://www.cnet.com/personal-finance/how-to-track-your-stimulus-check-now-with-the-irs-get-my-payment-app/" target="_blank" class="btn btn-outline-secondary btn-lg text-white">
      Read More
   </a>
  <img src="https://cnet3.cbsistatic.com/img/jAtXFV989_BT20FvXJ697AcGA00=/756x567/2020/04/15/5824396a-afee-430a-8250-3807ec44eab0/money-bills-wallet-coins-dollars-2.jpg" alt="" class="img-fluid d-none d-lg-block">
</app-showcase>
